<div class="card">
    <h2 class="card-header">Create Account</h2>
        <form class="card-body" id="signup-form">
            <div class="form-row">
                <label class="form-label">Username</label>
                <input class="form-input" type="text" id="signup-username"/>
            </div>
            <div class="form-row">
                <label class="form-label">Email</label>
                <input class="form-input" type="text" id="email-signup"/>
            </div>
            <div class="form-row">
                <label class="form-label">Password</label>
                <input class="form-input" type="text" id="password-signup" />
            </div>
            <button class="btn" type="submit">Complete Sign Up</button>
            <a class="btn login-link" href="/login">Log In</a>
        </form>
</div>
<script src="/js/signup.js"></script>